<nav *ngIf="mostrarMenu">

  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <span mat-button routerLink="">ng5 Rotas</span>

      <span class="spacer"></span>

      <button mat-button routerLink="/cursos" routerLinkActive="active-link" [queryParams]="{pagina:1}">Cursos</button>
      <button mat-button routerLink="/alunos" routerLinkActive="active-link">Alunos</button>
      <button mat-button routerLink="/home" routerLinkActive="active-link">Home</button>
      <button mat-button routerLink="/login" routerLinkActive="active-link">Login</button>
    </mat-toolbar-row>
  </mat-toolbar>

</nav>

<div class="container">

  <router-outlet></router-outlet>

</div>